<div class="card mt-2">
    <div class="card-header">
        <h3 class="card-title">上傳廣告</h3>
    </div>
    <div class="card-body">
        <form action="#" class="needs-validation" id="adsUpload" method="post" novalidate>
            <div class="row gx-3 mb-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <select id="MA_AdType" name="MA_AdType" class="form-select">
                            <option value="" disabled selected>--- 請選擇 ---</option>
                            <option value="1">機頂廣告</option>
                            <option value="2">全屏廣告</option>
                        </select>
                        <label for="MA_AdType">廣告位置</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" id="showDates" class="form-control" placeholder="開始 - 完結日期" required />
                        <label for="showDates">開始 - 完結日期</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <select class="form-select select2" data-toggle="select2" id="MA_MachineID" multiple  data-placeholder="請選擇售賣機">
                        {{#each machineList}}
                            <option value="{{ this.M_MachineID }}">
                                    [{{ this.M_MachineID }}] - {{ this.M_Name }} - ({{ this.type.machineTypeID }}: {{ this.type.name }})</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <input type="file" id="adfile" name="adfile" class="form-control" required />
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-4 offset-md-8">
                <div class="float-end">
                    <a id="saveBtn" class="btn btn-success ms-2" href="#">上傳</a>
                    <a id="cancelBtn" class="btn btn-secondary ms-2" href="#">取消</a> 
                </div>
            </div>
            
        </div>
    </div>
</div>
{{>scripts }}
<script>
    const getAdInfo = () => {
        const fileField = document.querySelector('input[type="file"]');     
        if(fileField.files.length > 0) {
            const adfile = fileField.files[0];
            const formData = new FormData();
            const machineSelector = document.querySelector('#MA_MachineID');
            const adType = document.querySelector('#MA_AdType');
            formData.append('adfile', adfile);
            formData.append('MA_ADID', adfile.name);
            formData.append('machineIds', $(machineSelector).val());
            formData.append('MA_AdType', parseInt(adType.value));
            return formData;
        } else {
            return null;
        }
    }
    document.addEventListener('DOMContentLoaded', () => {
        const nextMonth = dateFns.addMonths(new Date(), 1);
        const fp = flatpickr("#showDates", {
            mode: "range",
            dateFormat: 'Y-m-d',
            defaultDate: [dateFns.startOfMonth(nextMonth), dateFns.endOfMonth(nextMonth)],
            allowInput: true,
            onClose: (selectedDates, dateStr, instance) => {
                const dateFrom = selectedDates[0];
                const dateTo = selectedDates[1];
                if(dateFns.differenceInDays(dateTo, dateFrom) === 0){
                    alert('invalid date range');
                    return false;
                } 
            }
        });
        const saveBtn = document.querySelector('#saveBtn');
        saveBtn.addEventListener('click', (event) => {
            const formData = getAdInfo();
            const dateRange = fp.selectedDates;
            formData.append('MA_Datefrom', dateFns.format(dateRange[0], 'yyyy-MM-dd'));
            formData.append('MA_Dateto', dateFns.format(dateRange[1], 'yyyy-MM-dd'));
            
            fetch('/ads/upload', {
                method: 'POST',
                body: formData
            })
            .then((response) => response.json())
            .then((result) => {
                alert(result.message);
            })
            .catch((error) => {
                alert('error');
                console.error('Error:', error);
            });/**/
            event.preventDefault();
        })
    })
</script>