<div class="row mt-2">
   <div class="col-12">
        <div class="card">
            <div class="card-title">
                <h4 class="px-2 pt-2">{{ pageTitle }}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-2"><p class="fw-bolder fs-5">產品編號:</p></div>
                            <div class="col-4">{{ MP_ProductID }}</div>
                            <div class="col-2"><p class="fw-bolder fs-5">機號:</p></div>
                            <div class="col-4">{{ MP_MachineID }}</div>
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-2"><p class="fw-bolder fs-5">(中) 產品名稱:</p></div>
                            <div class="col-4">{{ MP_ProductName }}</div>
                            <div class="col-2"><p class="fw-bolder fs-5">(英) 產品名稱:</p></div>
                            <div class="col-4">{{ MP_ProductNameEng }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p class="fw-bolder fs-5">(中) 簡介:</p>
                        <p class="wrap-content">
                            {{#if MP_Description }}
                                {{ MP_Description }}
                            {{else}}
                            veryveryverylongtextveryveryverylongtextveryveryverylongtext
                            {{/if}}
                        </p>
                        <p class="fw-bolder fs-5">(英) 簡介:</p>
                        <p class="wrap-content">
                            {{#if MP_DescriptionEng }}
                                {{ MP_DescriptionEng }}
                            {{else}}
                            veryveryverylongtextveryveryverylongtextveryveryverylongtext
                            {{/if}}
                        </p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col"><p class="fw-bolder fs-5">原價: </p></div>
                            <div class="col">{{ MP_UnitPrice }}</div>
                            <div class="col"><p class="fw-bolder fs-5">單位: </p></div>
                            <div class="col">{{ MP_Unit }}</div>
                            <div class="col"><p class="fw-bolder fs-5">貨幣: </p></div>
                            <div class="col">{{ MP_Currency }}</div>
                            <div class="col"><p class="fw-bolder fs-5">售價: </p></div>
                            <div class="col">{{ MP_Price }}</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-2">暫停: </div>
                            <div class="col-4">
                                {{#if MP_Suspend }}
                                    <p class="fw-bold fs-4 text-success"><i class="fa fa-check"></i></p>
                                {{else}}
                                    <p class="fw-bold fs-4 text-danger"><i class="fa fa-xmark"></i></p>
                                {{/if}}
                            </div>
                           <div class="col-2">售罄隱藏: </div>
                            <div class="col-4">
                                {{#if MP_HideSoldout }}
                                    <p class="fw-bold fs-4 text-success"><i class="fa fa-check"></i></p>
                                {{else}}
                                    <p class="fw-bold fs-4 text-danger"><i class="fa fa-xmark"></i></p>
                                {{/if}}
                            </div> <!--  -->
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <p class="fw-bolder fs-5">類別:</p>
                        <ul>
                            {{#each category}}
                                <li>{{ categoryName }} - {{ categoryID }}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="fw-bolder fs-5 mb-2">SKU資料:</p>
                    <div class="row fw-bolder fs-5 mb-2">   
                        <div class="col">SKU名稱</div>
                        <div class="col-1">數量</div>
                        <div class="col-1">單位</div>
                        <div class="col-1">原價</div>
                        <div class="col-1">售價</div>
                        
                    </div>
                    <div class="row">
                        <div class="col">{{ skuDetail.skuName }}</div>
                        <div class="col-1">{{ skuDetail.qty }}</div>
                        <div class="col-1">{{ skuDetail.unit }}</div>
                        <div class="col-1">{{ skuDetail.unitPrice }}</div>
                        <div class="col-1">{{ skuDetail.price }}</div>
                    </div>
                </div>
                {{#if hasImage}}
                <div class="mt-2 row">
                    {{#each prdImage}}
                    <div class="col">
                        <img src="{{ FileName }}" width="{{ ImageWidth }}" height="{{ ImageHeight }}" />
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
            <div class="card-footer d-flex justify-content-end">
                <a class="btn btn-primary" href="/machine/edit-product-sku?machineId={{ MP_MachineID }}&editMode=edit&from=product-detail&itemId={{ MP_ProductID }}"><i class="fa fa-pencil px-1"></i>編輯</a>
                <a class="btn btn-secondary mx-1" href="/machine/detail?machineId={{ MP_MachineID }}"><i class="fas fa-chevron-left px-1"></i>返回</a>
            </div>
        </div>
    </div>
</div>

