<div class="tab-pane fade show active machinetps" id="basic-info" role="tabpanel" aria-labelledby="tab-1">
    <div class="row g-1">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>基本資料</h3>
                </div>
                <div class="card-body">
                    <ul id="machine-name-address" class="list-unstyled">
                        <li><div class="col-4">機名 : </div><div class="col-8">{{ M_Name }}</div></li>
                        <li><div class="col-4">機名 (Eng):</div><div class="col-8">{{ M_NameEng }}</div></li>
                        <li><div class="col-4">地址 : </div><div class="col-10">{{ M_Address }}</div></li>
                        <li><div class="col-4">地址 (Eng) : </div><div class="col-10">{{ M_AddressEng }}</div></li>
                        <li><div class="col-4">地區 : </div><div class="col-8">{{ M_Location }}</div></li>
                        <li></li>
                    </ul>

                    {{#if user.isSuperAdmin}}
                        <div class="mt-2 w-100">
                            <input class="form-check-input border border-white" id="enableCampaignSelectBox" type="checkbox" {{#if M_Config.CampaignID }}checked{{/if}} disabled />
                            <label for="enableCampaignSelectBox" class="form-check-label mx-1 no-validate">使用優惠</label>
                            <div class="mt-2">
                                <select id="campaignSelectBox" name="campaignSelectBox" class="form-select select" data-toggle="select2"
                                    data-campaigns="{{#if M_Config.CampaignID }}{{ M_Config.CampaignID}}{{/if}}"
                                    multiple data-placeholder="選擇可使用優惠">
                                    {{#each campaignList}}
                                        <option value="{{ this.RC_CampaignID }}">{{ this.RC_Name }} - {{ this.RC_NameEng }}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div id="activateControls" class="mt-2">
                                <button class="btn btn-primary" id="enableBtn">編輯</button>
                            </div>
                            <div id="deactivateControls" class="mt-2 d-none">
                                <button class="btn btn-success" id="savebtn">儲存</button>
                                <button class="btn btn-secondary ms-1" id="cancelbtn">取消</button>
                            </div>
                            
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>付款方法</h3>
                </div>
                <div id="payment-wrapper" class="card-body py-0 px-1">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th id="MCM_CheckoutTypeID">付款方法</th>
                                <th id="MCM_CheckoutModuleID">付款插件</th>
                                <th id="MCM_Active">使用中</th>
                                <th id="CheckoutTypeName">中文</th>
                                <th id="CheckoutTypeNameEng">英文</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each checkOutModules}}
                            <tr>
                                <td>{{ this.MCM_CheckoutTypeID }}</td>
                                <td>{{ this.MCM_CheckoutModuleID }}</td>
                                <td>
                                    <input type="checkbox" class="form-check-input" name="isCheckoutModuleActive"
                                        disabled {{#if this.MCM_Active}} checked {{/if}} />
                                </td>
                                <td>{{ this.CheckoutTypeName }}</td>
                                <td>{{ this.CheckoutTypeNameEng }}</td>
                            </tr>

                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const chkSelectBox = document.querySelector('#enableCampaignSelectBox');
    const campaignSelectBox = document.querySelector('#campaignSelectBox');
    const selectedVal = campaignSelectBox.dataset.campaigns;
    if(chkSelectBox && campaignSelectBox) {
        $('#campaignSelectBox').select2();
        $('#campaignSelectBox').prop('disabled', true);
        setMultiSelectValue('campaignSelectBox', selectedVal.split(','))
        chkSelectBox.addEventListener('change', (event) => {
            if(chkSelectBox.checked) {
                campaignSelectBox.removeAttribute('disabled')
            } else {
                campaignSelectBox.setAttribute('disabled', 'disabled')
                setMultiSelectValue('campaignSelectBox', null);
            }
        })
        const enableBtn = document.querySelector('#enableBtn');
        enableBtn.addEventListener('click', (event) => {
            event.preventDefault();
            document.querySelector('#activateControls').classList.add('d-none');
            document.querySelector('#deactivateControls').classList.remove('d-none');
            chkSelectBox.removeAttribute('disabled');
            campaignSelectBox.removeAttribute('disabled');
        })
        const cancelBtn = document.querySelector('#cancelbtn');
        cancelBtn.addEventListener('click', (event) => {
            event.preventDefault();
            document.querySelector('#deactivateControls').classList.add('d-none');
            document.querySelector('#activateControls').classList.remove('d-none');
            chkSelectBox.setAttribute('disabled', 'disabled');
            campaignSelectBox.setAttribute('disabled', 'disabled');
            if(selectedVal.length === 0) {
                setMultiSelectValue('campaignSelectBox', null);
            } else {
                chkSelectBox.checked = true;
                setMultiSelectValue('campaignSelectBox', selectedVal.split(','));
            }
        })
        const saveBtn = document.querySelector('#savebtn');
        saveBtn.addEventListener('click', (event) => {
            event.preventDefault();
            const campaigns = getMultiSelectValue('campaignSelectBox').length === 0 ? '[]': getMultiSelectValue('campaignSelectBox');

            const params = {
                machineId: document.querySelector('#mainMachineId').textContent,
                campaigns: JSON.parse(campaigns)
            }

            fetch('/machine/campaigns/update', 
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(params)
                }
            )
            .then((response) => {
                if(response.status === 200) {
                    alert('update success')
                    document.querySelector('#deactivateControls').classList.add('d-none');
                    document.querySelector('#activateControls').classList.remove('d-none');
                }
            })
        })
        


    }
</script>