<div class="tab-pane fade machinetps" id="channel-list" role="tabpanel" aria-labelledby="tab-4">
    <div class="card">
        <div class="card-body">
            <div id="chAlert" class="w-25 alert alert-success fade d-none" role="alert">
                <strong id="message"></strong><a href="#" onclick="hideAlert('chAlert', event)" class="text-white close-dialog float-end">X</a>
            </div>
            <div class="table-responsive">
                <table id="machine-channel" class="dataTable table table-dark nowrap w-100">
                    <thead>
                        <tr>
                            {{#each channelListOp}}
                            <th id="{{ this.data }}" class="text-center">{{ this.title }}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>

                        {{#each channel}}
                        <tr id="ch_{{this.MC_MachineID}}_{{this.MC_ChannelID}}">
                            <td class="text-center">{{ this.MC_ChannelID }}</td>
                            <td>
                                <select class="border-white rounded isActive px-3 py-1 mx-auto" id="MC_Active" disabled>
                                    <option class="text-danger" value="0" {{#unless this.MC_Active }}selected{{/unless}}>&#xf00d;</option>
                                    <option class="text-success" value="1" {{#if this.MC_Active }}selected{{/if}}>&#xf00c;</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-select mx-auto" id="MC_StockCode"
                                    style="width:500px!important" disabled>
                                    <option value="" {{#unless MC_StockCode}}selected{{/unless}} disabled>未選擇產品</option>
                                    {{#each ../channelSkuOptions}}
                                    <option value="{{this.value}}" {{#ifCond this.value '==='
                                        ../MC_StockCode}}selected{{/ifCond}}>{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </td>
                            <td>
                                <input type="number" id="MC_Capacity"
                                    class="form-control pe-0 mx-auto" min="0" value="{{ MC_Capacity }}" style="width:50px!important"
                                    disabled />
                            </td>
                            <td class="text-center">
                                <input type="number" id="MC_Balance"
                                    class="form-control pe-0 mx-auto" min="0"
                                    value="{{#if MC_Balance }}{{ MC_Balance }}{{else}}0{{/if}}"
                                    style="width:50px!important" disabled />
                            </td>
                            <td class="statusText {{#ifCond MC_Status '!==' 255}}text-success{{else}}text-danger{{/ifCond}} text-center align-middle">
                                {{ statusText }}
                            </td>
                            <td class="text-center">
                               {{ MC_ExpiryDate }}
                            </td>
                            <td class="text-center align-middle">
                                <input type="number" id="MC_Status"
                                    class="form-control pe-0 mx-auto" min="0" value="{{ MC_Status }}"
                                    style="width:70px!important" disabled />
                            </td>
                            <td>{{{ this.btn }}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<style>
    .isActive {
        appearance: none;
        background-color: var(--ct-dark);
        color: var(--ct-light);
        font-family:"FontAwesome";
    }
    .isActive * {
        font-size: 24px;
    }
    .isActive::before{
        vertical-align:middle;
    }
</style>
<script>
    const updateRequest = (reqBody, callback) => {
        fetch('/machine/update-channel', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(reqBody)
        })
        .then(response => {
            if(response.status === 200) {
                return response.json();
            } else {
                throw new Error(`update fail`)
            }
        })
        .then(data => {
            if(callback) {
                callback(data);
            }
        })
        .catch((error) => {
            document.querySelector('#chAlert').classList.remove('alert-warning');
            document.querySelector('#chAlert').classList.add('alert-danger');
            document.querySelector('#chAlert #message').textContent = error;
        });
    }

    const editChannel = (el) => {
        const rowId = el.dataset.rowid;
        const controls = [...document.querySelectorAll(`#${rowId} input`), ...document.querySelectorAll(`#${rowId} select`)];
        const activeBtns = document.querySelector(`#${rowId} .activeBtns`);
        controls.every((el, index) => {
            if (el.disabled) {
                el.disabled = false
            }
            return el;
        })
        flatpickr('.chexpire', {
            enableTime: true,
            dateFormat: "Y/m/d H:i",
            minDate: "today",
            time_24hr: true
        })
        if(activeBtns) {
            el.parentElement.classList.add('d-none');
            activeBtns.classList.remove('d-none');
        }
    }

    const hideControls = (el) => {
        const rowId = el.dataset.rowid;
        const controls = [...document.querySelectorAll(`#${rowId} input`), ...document.querySelectorAll(`#${rowId} select`)];
        const deactiveBtns = document.querySelector(`#${rowId} .deactiveBtns`);
        controls.every((el, index) => {
            if (!el.disabled) {
                el.disabled = true
            }
            return el;
        })
        
        if(deactiveBtns){
            el.parentElement.classList.add('d-none');
            deactiveBtns.classList.remove('d-none');
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        const columnDefs = [{
            orderable: false,
            targets: ['_all']
        },{
            data: 'num',
            width: 70,
            targets: [1, 3, 4]
        },{
            width: 600,
            targets: [2]
        }, {
            type: 'date',
            render: function (data, type, row) {
                if (!data) {
                    return `<input type="text" style="width:160px" class="chexpire form-control mx-auto" id="MC_ExpiryDate" disabled>`
                }
                return `<input type="text" style="width:160px" class="chexpire form-control mx-auto" id="MC_ExpiryDate" value="${dateFns.format(new Date(data), 'yyyy/MM/dd HH:mm')}" disabled>`
            },
            targets: [-3]
        }]
       const dtCh = initMachineTables('machine-channel', columnDefs);
       const updateBtns = [...document.querySelectorAll('.updateBtns')];
       updateBtns.every((el, index) => {
            el.addEventListener('click', (event) => {
                const button = event.target;
                const rowId = button.dataset.rowid;
                const controls = [...document.querySelectorAll(`#${rowId} input`), ...document.querySelectorAll(`#${rowId} select`)];
                const reqBody = controls.reduce((acc, input) => {
                    const name = input.getAttribute('id');
                    const value = input.value || input.seleted;
                    const type = input.getAttribute('type');
                    acc[name] = type !== 'number' ? value: parseInt(value);
                    return acc;
                }, {});
                if(reqBody['MC_Balance'] > reqBody['MC_Capacity']){
                    showAlert('chAlert', 'Balance cannot be greater than capacity');
                    event.preventDefault();
                    return false;
                }
                reqBody['MC_MachineID'] = rowId.split('_')[1];
                reqBody['MC_ChannelID'] = parseInt(rowId.split('_')[2]);
                updateRequest(reqBody, (data) => {
                    const msg = 'update success';
                    showAlert('chAlert', msg);
                    hideControls(button);
                    const stEl = document.querySelector(`#ch_${data.MC_MachineID}_${data.MC_ChannelID} td.statusText`);
                    stEl.textContent = data.statusText;
                })
            })
            return el;
       })       
       const clearErrBtns = [...document.querySelectorAll('.clearErrBtn')];
       clearErrBtns.every((el, index) => {
            el.addEventListener('click', (event) => {
                const button = event.target;
                const rowId = button.dataset.rowid;
                const reqBody = {
                    MC_MachineID: rowId.split('_')[1],
                    MC_ChannelID: parseInt(rowId.split('_')[2]),
                    MC_Status: 0,
                    MC_ErrorCode: 0,
                    MC_MCUClearError: 1,
                    MC_MCUUpdate: 1,
                };
                updateRequest(reqBody, (data) => {
                    const msg = 'update success';
                    showAlert('chAlert', msg);
                    const stEl = document.querySelector(`#ch_${data.MC_MachineID}_${data.MC_ChannelID} td.statusText`);
                    stEl.textContent = data.statusText;
                    document.querySelector(`#ch_${data.MC_MachineID}_${data.MC_ChannelID} #MC_Status`).value = data.MC_Status;
                    stEl.classList.remove('text-danger');
                    stEl.classList.add('text-success');
                })
                event.preventDefault();
            })
            return el;
       })

       document.querySelector('#MC_ChannelID').classList.remove('sorting_asc');
    })    
</script>