<div class="tab-pane fade machinetps" id="channel-list" role="tabpanel" aria-labelledby="tab-4">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="machine-channel" class="dataTable table table-dark nowrap w-100">
                    <thead>
                        <tr>
                            {{#each channelListOp}}
                            <th id="{{ this.data }}">{{ this.title }}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each channel}}
                        <tr>
                            <td>{{ this.MC_ChannelID }}</td>
                            <td>
                                {{#if this.MC_Active}}
                                <i class="fa fa-circle-check"></i>
                                {{else}}
                                <i class="fa fa-circle-xmark"></i>
                                {{/if}}
                            </td>
                            <td>
                                {{#if MC_StockCode}}
                                {{ StockName }}
                                {{else}}
                                未選
                                {{/if}}
                            </td>
                            <td>{{ MC_Capacity }}</td>
                            <td>
                                {{#if MC_Balance}}
                                {{ MC_Balance}}
                                {{else}}
                                0
                                {{/if}}
                            </td>
                            <td>
                                {{#if MC_StockCode}}
                                {{ MC_StockCode }}
                                {{else}}
                                未選
                                {{/if}}
                            </td>
                            <td>{{ statusText }}</td>
                            <td>{{ MC_ExpiryDate }}</td>
                            <td>{{ MC_ErrorCode }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const columnDefs = [{
            orderable: false,
            targets: [1]
        }, {
            type: 'date',
            render: function (data, type, row) {
                if (!data) {
                    return null
                }
                return dateFns.format(new Date(data), 'yyyy-MM-dd HH:mm:ss')
            },
            targets: [-4]
        }]
        initMachineTables('machine-channel', columnDefs);

    })    
</script>