<div class="tab-pane fade" id="channel-list" role="tabpanel" aria-labelledby="tab-4">
    <div class="card">
        <div class="card-body">
            
            <table id="machine-channel" class="dataTable table table-dark table-hover dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        {{#each channelListOp}}
                            <th id="{{ this.data }}">{{ this.title }}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each channel}}
                        <tr>
                            <td>{{ MC_ChannelID }}</td>
                            <td><input type="checkbox" class="form-check-input" name="MC_Active" disabled
                                {{#if MC_Active}}
                                checked
                                {{/if}}
                            /></td>
                            <td><input type="checkbox" class="form-check-input" name="MC_Suspend" disabled
                                {{#if MC_Suspend}}
                                checked
                                {{/if}}
                            /></td>
                            <td><input type="checkbox" class="form-check-input" name="MC_MCUClearError" disabled
                                {{#if MC_MCUClearError}}
                                checked
                                {{/if}}
                            /></td>
                            <td><input type="checkbox" class="form-check-input" name="MC_MCUUpdate" disabled 
                                {{#if MC_MCUUpdate}}
                                checked
                                {{/if}}
                            /></td>
                            <td>
                                {{#if MC_StockCode}}
                                  {{ StockName }}
                                {{else}}
                                    未選
                                {{/if}}
                            </td>
                            <td>{{ MC_Capacity }}</td>
                            <td>
                                {{#if MC_Balance}}
                                    {{ MC_Balance}}
                                {{else}}
                                    0
                                {{/if}}
                            </td> 
                            <td>
                                {{#if MC_StockCode}}
                                    {{ MC_StockCode }}
                                {{else}}
                                    未選
                                {{/if}}
                            </td>
                            <td>{{ statusText }}</td>
                            <td>{{ MC_MergedChannelID }}</td>
                            <td>{{ MC_ExpiryDate }}</td>
                            <td>{{ MC_ReminderDate }}</td>
                            <td>{{ MC_ErrorCode }}</td>
                            <td></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const columnDefs = [{
            orderable: false,
            targets: [1,2,3,4]
        },{
            type:'date',
            render: function(data, type, row) {
                if(!data){
                    return null
                }
                return dateFns.format(new Date(data), 'yyyy-MM-dd HH:mm:ss')
            },
            targets: [-5,-4]
        }]
       initMachineTables('machine-channel', columnDefs);
        
    })    
</script>
<!-- 

    if(data) {
        return dateFns.format(new Date(data), 'yyyy-MM-dd HH:mm:ss')
    }
-->