<div class="tab-pane fade machinetps" id="product-list" role="tabpanel" aria-labelledby="tab-2">
    <div class="card">
        <div class="card-body">
            {{#if user.isSuperAdmin }}
                <a href="#" class="btn btn-success d-none" onclick="openSearchProductModal(event, 'product-search')"><i class="fa fa-plus mx-1"></i>Add Product</a>
            {{/if}}
            <div class="table-responsive mt-2">
                <table id="machine-product" class="dataTable table table-dark nowrap w-100">
                    <thead>
                        <tr>
                            {{#each productListOp}}
                            <th id="{{ this.data }}">{{ this.title }}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <td>{{ this.MP_ProductID }}</td>
                            <td>
                                {{#if this.MP_Active}} 
                                    <i class="text-success fa fa-circle-check"/>
                                {{/if}}
                                {{#if this.MP_Suspend}}
                                    <i class="text-danger fa fa-circle-xmark"/>
                                {{/if}}
                            </td>
                            <td>{{ this.MP_ProductName }}</td>
                            <td>{{ this.MP_UnitPrice }}</td>
                            <td>{{ this.MP_Price }}</td>
                            <td>
                                {{#if this.MP_HideSoldout}}
                                    <i class="text-success fa fa-circle-check"/>
                                {{else}}
                                    <i class="text-danger fa fa-circle-xmark"/>
                                {{/if}}
                            </td>
                            <td>{{ this.MP_Lastupdate }}</td>
                            <td>{{{ this.btn }}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const columnDefs = [{
            orderable: false,
            targets: [1, -3, -1]
        }, {
            render: $.fn.dataTable.render.number(',', '.', 2),
            targets: [3, 4]
        },
        {
            type: 'date',
            render: function (data, type, row) {
                if (!data) {
                    return null
                }
                return dateFns.format(new Date(data), 'yyyy-MM-dd HH:mm:ss')
            },
            targets: [-2]
        }]

        const mpDt = initMachineTables('machine-product', columnDefs);
    })    
</script>