<div class="tab-pane fade" id="stock-list" role="tabpanel" aria-labelledby="tab-3">

    <div class="card">
        <div class="card-body">
            <table id="machine-stock" class="dataTable table table-dark table-hover dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        {{#each stockListOp}}
                        <th id="{{ this.data }}">{{ this.title }}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each stocks}}
                    <tr>
                        <td>{{ this.MS_StockCode }}</td>
                        <td>
                            <input type="checkbox" class="form-check-input" name="isActive" {{#if this.MS_Active}}
                                checked {{/if}} />
                        </td>
                        <td>
                            <input type="checkbox" class="form-check-input" name="isSuspend" {{#if this.MS_Suspend}}
                                checked {{/if}} />
                        </td>
                        <td>{{ this.MS_StockName }}</td>
                        <td>{{ this.MS_Unit }}</td>
                        <td>{{ this.MS_UnitPrice }}</td>
                        <td>{{ this.MS_Price }}</td>
                        <td>{{ this.MS_Brand }}</td>
                        <td>{{ this.MS_Lastupdate }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> scripts}}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const columnDefs = [{
            orderable: false,
            targets: [1,2]
        },{
            type:'date',
            render: function(data, type, row) {
                return dateFns.format(new Date(data), 'yyyy-MM-dd HH:mm:ss')
            },
            targets: [-3]
        }]
        const mpDt = initMachineTables('machine-stock', columnDefs);
    })    
</script>