<style>
  .ql-toolbar{
    background-color: var(--ct-table-striped-color)!important;
  }
  .ql-toolbar span {
    color: var(--ct-body-bg)!important;
  }
   #product-image-wrapper {
    text-align: end;
   }
   
  #product-image-wrapper img {
    width: 90%;
  }
  .name-wrapper,
  .price-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  #product .form-label,
  #stock .form-label {
    padding-top: 0.5em;
    width: 10vw;
  }

  .selectbox-label {
    padding-top: 0.5em;
    padding-right: 1em;
  }

  #MP_Description,
  #MP_DescriptionEng {
    height: 200px;
  }
</style>

<div class="card mt-2 w-100">
    <div class="card-header">
        <div class="fw-bolder fs-4 py-2">產品/SKU詳情</div>
    </div>
    <div class="card-body">
        <div id="errorMsg" class="alert alert-danger w-25 d-none" role="alert">
            <strong id="message"></strong><a href="#" class="text-danger close-dialog float-end">X</a>
        </div>
        <div id="successMsg" class="alert alert-success w-25 d-none" role="alert">
            Update success<a href="#" class="text-success close-dialog float-end">X</a>
        </div>
        <div class="row">
            <div class="py-2 col-6">
                <p class="fs-4 fw-bolder">機號: {{MachineID}}</p>
            </div>
            
        </div>
        <div class="row">
            {{#if prd}}
            <div class="{{#if prd}}col-xl-8 col-md-12{{else}}col-12{{/if}} border-end">
                <form action="#" id="product" method="post">
                    <div class="py-2">
                        <p class="fs-4">產品編號:<span class="ms-2">{{prd.MP_ProductID}}</span></p>
                        <input type="hidden" name="MP_MachineID" id="MP_MachineID"
                            value="{{ prd.MP_MachineID }}" />
                        <input type="hidden" name="MP_ProductID" id="MP_ProductID"
                            value="{{ prd.MP_ProductID }}" />
                    </div>
                    <div class="row g-0">
                        <div id="lhs" class="col-9">
                            <div class="name-wrapper">
                                <label class="form-label" for="MP_ProductName">(中) 產品名稱: </label>
                                <input class="form-control" name="MP_ProductName" id="MP_ProductName" value="{{ prd.MP_ProductName }}" required disabled />
                            </div>
                            <div class="name-wrapper">
                                <label class="form-label" for="MP_ProductNameEng">(英) 產品名稱: </label>
                                <input class="form-control" name="MP_ProductNameEng" id="MP_ProductNameEng" value="{{ prd.MP_ProductNameEng }}" required disabled />
                            </div>
                            <div class="price-wrapper">
                                <label class="form-label" for="MP_UnitPrice">原價: </label>
                                <div class="input-group">
                                    <span class="input-group-text">HKD</span>
                                    <input name="MP_UnitPrice" id="MP_UnitPrice" data-toggle="touchspin" data-bts-min="0" value="{{ prd.MP_UnitPrice }}" type="text" data-step="0.01" data-decimals="2" 
                                        data-bts-button-down-class="btn btn-outline-dark" data-bts-button-up-class="btn btn-outline-dark" required disabled />
                                </div>
                            </div>
                            
                            <div class="price-wrapper">
                                <label class="form-label" for="MP_Price">售價: </label>
                                <div class="input-group">
                                    <span class="input-group-text">HKD</span>
                                    <input name="MP_Price" id="MP_Price" data-toggle="touchspin" data-bts-min="0" value="{{ prd.MP_Price }}" type="text" data-step="0.1" data-decimals="2" 
                                        data-bts-button-down-class="btn btn-outline-dark" data-bts-button-up-class="btn btn-outline-dark" required disabled />
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-6">
                                    <div class="input-group">
                                        <label class="selectbox-label" for="prdcategory">類別:</label>
                                        <input type="hidden" name="prdcategoryID" id="prdcategoryID" value="{{#each prd.category}}{{this.categoryID}}{{#if prd.category.[1]}},{{/if}}{{/each}}" />
                                        <select class="form-select" id="prdcategory" required {{#unless user.isSuperAdmin}}alwaysdisabled="true"{{/unless}} disabled>
                                            {{#each prdCategories}}
                                            <option value="{{this.id}}">{{this.id}} - {{this.name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p class="mx-auto py-1 fs-4" for="MP_Unit">單位: <strong class="px-2">{{#if prd.MP_Unit}}{{prd.MP_Unit}}{{else}}PCS{{/if}}</strong></p>
                                    <input type="hidden" name="MP_Unit" id="MP_Unit" value="{{#if prd.MP_Unit}}{{prd.MP_Unit}}{{else}}PCS{{/if}}" />
                                </div>
                                
                            </div>
                        </div>
                        
                        <div id="product-image-wrapper" class="col-3 d-none d-md-block">
                            <img class="d-none" src="https://vending.ivmtech.com/data/{{#ifCond user.schema '===' 'iVendingDB_Hosting'}}Hosting{{else}}IVM{{/ifCond}}/Image/Product/{{prd.MP_ProductID}}.png"/>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label class="form-label me-2" for="MP_Active">使用中:</label>
                            <input class="form-check-input border border-white" type="checkbox" name="MP_Active"
                                id="MP_Active" {{#if prd.MP_Active}} checked {{/if}} {{#unless user.isSuperAdmin}}alwaysdisabled="true"{{/unless}} disabled />
                        </div>
                        <div class="col">
                            <label class="form-label me-2" for="MP_HideSoldout">售罄隱藏:</label>
                            <input class="form-check-input border border-white" type="checkbox" name="MP_HideSoldout" id="MP_HideSoldout" {{#if prd.MP_HideSoldout}} checked {{/if}} {{#unless user.isSuperAdmin}}alwaysdisabled="true"{{/unless}} disabled />
                        </div>
                    </div>
                    
                    <div class="quill-wrapper mt-2">
                        <label class="form-label">(中) 簡介: </label>
                            <div id="MP_Description" class="description">{{#if prd.MP_Description}}{{{prd.MP_Description}}}{{/if}}</div>
                    </div>
                    
                    <div class="quill-wrapper mt-2">
                        <label class="form-label">(英) 簡介: </label>
                        <div id="MP_DescriptionEng" class="description">{{#if prd.MP_DescriptionEng}}{{{prd.MP_DescriptionEng}}}{{/if}}</div>
                    </div>
                </form>
            </div>
            {{/if}}
            {{#if sku}}
            <div class="{{#if prd}}col-xl-4 col-md-12{{else}}col-12{{/if}} border-start">
                <form action="#" id="stock" method="post">
                    <div class="py-2">
                        <div class="fs-4">SKU:<span class="ms-2">{{sku.MS_StockCode}}</span></div>
                        <input type="hidden" name="MS_MachineID" id="MS_MachineID" value="{{ sku.MS_MachineID }}" />
                        <input type="hidden" name="MS_StockCode" id="MS_StockCode"value="{{ sku.MS_StockCode }}" />
                    </div>
                    <div class="name-wrapper">
                        <label class="form-label" for="MS_StockName">(中) 名稱: </label>
                        <input class="form-control" name="MS_StockName" id="MS_StockName" data-target="MP_ProductName" value="{{ sku.MS_StockName }}" required disabled />
                    </div>
                    <div class="name-wrapper">
                        <label class="form-label" for="MS_StockNameEng">(英) 名稱: </label>
                        <input class="form-control" name="MS_StockNameEng" id="MS_StockNameEng" data-target="MP_ProductNameEng" value="{{ sku.MS_StockNameEng }}" required disabled />
                    </div>
                    <div class="price-wrapper">
                        <label class="form-label" for="MS_UnitPrice">成本價:</label>
                        <div class="input-group">
                            <span class="input-group-text">HKD</span>
                            <input name="MS_UnitPrice" id="MS_UnitPrice" data-toggle="touchspin" data-bts-min="0" value="{{ sku.MS_UnitPrice }}" type="text" data-step="0.01" data-decimals="2" 
                                data-bts-button-down-class="btn btn-outline-dark" data-bts-button-up-class="btn btn-outline-dark" required disabled />
                        </div>
                    </div>
                    <div class="price-wrapper">
                        <label class="form-label" for="MS_Price">售價:</label>
                        <div class="input-group">
                            <span class="input-group-text">HKD</span>
                            <input name="MS_Price" id="MS_Price" data-toggle="touchspin" data-bts-min="0" value="{{ sku.MS_Price }}" type="text" data-step="0.1" data-decimals="2" 
                                data-bts-button-down-class="btn btn-outline-dark" data-bts-button-up-class="btn btn-outline-dark" required disabled />
                        </div>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="col">
                            <label class="form-label me-2" for="MS_Active">使用中:</label>
                            <input class="form-check-input border border-white" type="checkbox" name="MS_Active"
                                id="MS_Active" {{#if sku.MS_Active }} checked {{/if}} {{#unless user.isSuperAdmin}}alwaysdisabled="true"{{/unless}} disabled />
                        </div>
                        <div class="col">
                            <label class="form-label me-2" for="MS_AdjustInventory">扣除庫存:</label>
                            <input class="form-check-input border border-white" type="checkbox"
                                name="MS_AdjustInventory" id="MS_AdjustInventory" {{#if sku.MS_AdjustInventory }} checked {{/if}} {{#unless user.isSuperAdmin}}alwaysdisabled="true"{{/unless}} disabled />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <div class="input-group">
                                <label class="selectbox-label" for="stockcategory">類別:</label>
                                <input type="hidden" name="stockcategoryID" data-target="prdcategoryID" value="{{#each sku.category}}{{this.categoryID}}{{#if sku.category.[1]}},{{/if}}{{/each}}" />
                                <select class="form-select" id="stockcategory" required {{#unless user.isSuperAdmin}}alwaysdisabled="true"{{/unless}} disabled>
                                    {{#each stockCategories}}
                                    <option value="{{this.id}}">{{this.id}} - {{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="mx-auto py-1 fs-4" for="MS_Unit">單位: <strong class="px-2">{{#if sku.MS_Unit}}{{ sku.MS_Unit }}{{else}}PCS{{/if}}</strong></p>
                            <input type="hidden" name="MS_Unit" id="MS_Unit" data-target="MP_Unit" value="{{#if sku.MS_Unit}}{{ sku.MS_Unit }}{{else}}PCS{{/if}}" />
                        </div>
                    </div>
                </form>
            </div>
            {{/if}}
        </div>
    </div>
    <div class="card-footer">
        {{#if user.permissionsMap.machine.Edit }}
            <div id="activateControls">
                <a id="enableForm" class="btn btn-primary me-2" href="#"><i class="fas fa-pencil me-1"></i>編輯</a>
                <a id="backBtn" class="btn btn-secondary" onclick="backToTab()" href="#"><i class="fas fa-chevron-left me-1"></i>返回</a>
            </div>
            <div id="deactivateControls" class="d-none">
                <a id="saveBtn" class="btn btn-success me-2" href="#"><i class="fas fa-floppy-disk me-1"></i>儲存</a>
                <a id="cancelBtn" class="btn btn-secondary" href="#"><i class="fas fa-xmark me-1"></i>取消</a> 
            </div>
        {{else}}
            <a id="backBtn" class="btn btn-secondary" onclick="backToTab()" href="#"><i class="fas fa-chevron-left me-1"></i>返回</a>
        {{/if}}
    </div>
</div>
{{> scripts }}
<script>

    backToTab = () => { 
        const searchParams = new URLSearchParams(window.location.search);
        const machineId = searchParams.get('machineId')
        const tabId = searchParams.get('from');
        window.location.href = `detail?machineId=${machineId}&active=${tabId}`;
    }

    handleErrorMsgDialog = (show, message) => {
        const box = document.querySelector('#errorMsg');
        const msgContent = document.querySelector('#errorMsg strong');
        msgContent.textContent = message;
        if(show) {
            box.classList.remove('d-none');
        } else {
            box.classList.add('d-none');
        }
    }
    
    saveMachineItems = (formData) => {
        document.querySelector('#successMsg').classList.add('d-none');
        handleErrorMsgDialog(false, null);
        
        if(!formData.product && !formData.stock) {
            handleErrorMsgDialog(true, 'Please check your input');
            return false;
        }

        formData.product['MP_Active'] = Boolean(formData.product['MP_Active']);
        formData.product['MP_Suspend'] = !formData.product['MP_Active']
        formData.product['MP_HideSoldout'] = Boolean(formData.product['MP_HideSoldout']);
        formData.stock['MS_Active'] = Boolean(formData.stock['MS_Active']);
        formData.stock['MS_Suspend'] = !formData.stock['MS_Active'];
        formData.stock['MS_AdjustInventory'] = Boolean(formData.stock['MS_AdjustInventory']);


        fetch('/machine/update-product-stock', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => {
            if(response.status === 200) {
                document.querySelector('#successMsg').classList.remove('d-none');
                clearFormValidation('product')
                clearFormValidation('stock')
                afterSaveSuccess();
            }
        }) 
        .catch((error) => {
            handleErrorMsgDialog(true, error);
        })
    }
    
    document.addEventListener('DOMContentLoaded', () => {
        const descriptions = [...document.querySelectorAll('.description')];
        const controls = [...document.querySelectorAll('input'), ...document.querySelectorAll('select')];
        
        const prdcategoryEl = document.querySelector('input[name=prdcategoryID]');
        const stockcategoryEl = document.querySelector('input[name=stockcategoryID]');
        if (prdcategoryEl) {
            const val = prdcategoryEl.value;
            const prdOptions = document.querySelector(`#prdcategory option[value=${val}]`);
            prdOptions.setAttribute('selected', 'selected');
            handleSelectBoxChange('prdcategory', 'prdcategoryID');
        }
        if (stockcategoryEl) {
            const val = stockcategoryEl.value;
            const stOptions = document.querySelector(`#stockcategory option[value=${val}]`);
            stOptions.setAttribute('selected', 'selected')
            handleSelectBoxChange('stockcategory', 'stockcategoryID');
        }

        const productForm = document.querySelector('#product');
        const stockForm = document.querySelector('#stock');
        
        if(productForm) {
            formControlsAttr('product');
        }

        if(stockForm) {
            formControlsAttr('stock');
        }

        let prd = {};

        const descEditor = descriptions.map((el) => {
            const name = el.getAttribute('id');
            const ql =  new Quill(el, {
                theme: 'snow',
                modules: {
                    'toolbar': [
                        [{ 'header': [false, 1, 2, 3, 4, 5, 6] }, 'bold', 'italic', 'underline'], 
                        [{ 'list': 'bullet' }, 'link', 'clean']
                    ]
                }
            })
            ql.enable(false);
            ql.on('text-change', (delta) => {
                if(delta.ops.length > 0) {
                    prd[name] = el.firstChild.innerHTML;
                }
            })
            return ql;
        })

        const enableFormBtn = document.querySelector('#enableForm');
        if(enableFormBtn) {
            enableFormBtn.addEventListener('click',(event) => {
                descEditor.every((editor) => {
                    editor.enable();
                    return editor
                })
            })
        }

        const saveBtn = document.querySelector('#saveBtn');
        if(saveBtn){
            saveBtn.addEventListener('click', (event) => {
                event.preventDefault();
                formData = {
                    product: {...prd, ...getFormData('product')},
                    stock: getFormData('stock')
                }
                saveMachineItems(formData);
            })
        }
    
        const cancelBtn = document.querySelector('#cancelBtn');
        if(cancelBtn) {
            cancelBtn.addEventListener('click', (event) => {
                descEditor.every((editor) => {
                    editor.enable(false);
                    return editor
                });
            })
        }

        const productImage = document.querySelector('#product-image-wrapper img');
        if(productImage) {
            let loadSuccessHandler = e => {
                productImage.classList.remove('d-none')
            }
            let errorHandler = e => {
                productImage.classList.add('d-none')
            }
            const imgSrc = productImage.getAttribute('src');
            const tempImg = new Image();
            tempImg.onerror = errorHandler;
            tempImg.onload = loadSuccessHandler;
            tempImg.src = imgSrc;
        }
    })    
</script>