<!-- Topbar Start -->
<div class="navbar-custom">
    <div class="container-fluid">
        {{#ifCond user '&&' user.isSuperAdmin }}<p class="float-start pt-2 text-white">Session: <br />{{ user.schema }}</p>{{/ifCond}}
        <ul class="list-unstyled topbar-menu float-end mb-0">
            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle px-4 py-2 arrow-none me-0" data-bs-toggle="dropdown" id="topbar-userdrop" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <strong class="account-user-name d-sm-block">{{#if user }}{{ user.ON_OwnerID }}{{else}}Anonymous{{/if}}</strong>
                    {{#if user }}<span class="account-position d-none d-md-block">{{ user.userRole }}</span>{{/if}}
                </a>
                {{#if user }}
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown" aria-labelledby="topbar-userdrop">
                    <!-- item-->
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome !</h6>
                    </div>
    
                    <!-- item-->
                    <a href="/owner/profile?ownerId={{ user.ON_OwnerID }}" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="/logout" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Logout</span>
                    </a>
                </div>
                {{/if}}
            </li>
        </ul>
        <button class="button-menu-mobile open-left d-sm-block d-md-none">
            <i class="mdi mdi-menu"></i>
        </button>
    </div>
</div>
<!-- end Topbar -->
